<%- content_for :header do %>
   <%- javascript_include_tag "landing" %>
<%- end %>


<%= image_tag("logo.png") %>
<br/>

<%= link_to "@hackonday", "http://twitter.com/hackonday" %>

<h1 class="intro">Hack On will be the first live-streamed online hackathon.</h1>

<p>Until now hackathons were limited to one physical location.<br />
We will take the excitement of creating an app from scratch in just one day and put it online.<br />
<%= link_to "See the rules.", rules_path %>.</p>

<p>March 19th 2011 @ 9am GMT</p>

<div id="launchcountdown"></div>


<%= form_for(@invite_request, :remote=> true, :html=>{:'data-type'=>'html', :id=>'notification_form'}) do |f| %>
<div id="forminfo">Interested?</div>
  <%= f.text_field :email %> <%= f.submit :value=>"Notify me", :class=>"notify_button" %>
<% end %>


