<%- content_for :header do %>
   <%- javascript_include_tag "landing" %>
<%- end %>


<%= image_tag("logo.png") %>
<br/>

<%= link_to "@hackonday", "http://twitter.com/hackonday" %> or <%= link_to "hackline@hackonday.com", "mailto:hackline@hackonday.com" %>

<p class="intro">The first live streamed online hackathon.</p>

<p>March 19th 2011 @ 9am GMT</p>

<div id="launchcountdown"></div>


<%= form_for(@invite_request, :remote=> true, :html=>{:'data-type'=>'html', :id=>'notification_form'}) do |f| %>
<div id="formreply"></div>
  <%= f.text_field :email %> <%= f.submit :value=>"Notify me", :class=>"notify_button" %>
<% end %>


