<h1>Listing hackthaons</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hackthaons.each do |hackthaon| %>
  <tr>
    <td><%= hackthaon.name %></td>
    <td><%= link_to 'Show', hackthaon %></td>
    <td><%= link_to 'Edit', edit_hackthaon_path(hackthaon) %></td>
    <td><%= link_to 'Destroy', hackthaon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hackthaon', new_hackthaon_path %>
