!!!
%html
  %head
    %title Co-hack
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = javascript_include_tag :defaults
    = csrf_meta_tag

%body
  %p{:class=>"notice"}
    = notice
  %p{:class=>"alert"}
    = alert
  #wrapper
    #header
      header div
    = yield
    #footer
      footer div

