!!!
%html
  %head
    %title Hack On Day #1 - March 19th 2011
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = javascript_include_tag "jquery", "rails", "jquery.countdown"
    = csrf_meta_tag
    = yield :header

  %body
    #wrapper
      #main
        %p{:class=>"notice"}
          = notice
        %p{:class=>"alert"}
          = alert
        %div{:id=>"content", :class=>"landing_content"}
          = yield
    #footer 
      %i
        the hackathon with a twist
      by
      = link_to "@thejessor", "http://twitter.com/thejessor"
      and
      = link_to "@akashmanohar", "http://twitter.com/akashmanohar"
      %br
      = link_to "hackline@hackonday.com", "mailto:hackline@hackonday.com"

